# Introdução ao Python
Bem-vinda(o) a introdução ao Python

### Variáveis
Python é uma linguagem **dinamicamente tipada** e, também, **fortemente tipada**.

In [10]:
nome = "Luke Skywalker"

In [11]:
nome

'Luke Skywalker'

In [12]:
print(nome)

Luke Skywalker

In [13]:
type(nome)

str

In [14]:
nome = 100

In [15]:
type(nome)

int

In [16]:
print(nome)

100

In [17]:
nome = "Luke Skywalker"
idade = 16
peso = 70.5
eh_jedi = True

In [18]:
print(nome, idade, peso, eh_jedi)

Luke Skywalker 16 70.5 True

In [19]:
dir(nome)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [20]:
nome.upper()

'LUKE SKYWALKER'

In [21]:
nome

'Luke Skywalker'

In [24]:
nome_maiusculo = nome.upper()
print(nome_maiusculo)
print(nome)

LUKE SKYWALKER
Luke Skywalker

In [25]:
Nome = "Luke Skywalker"

In [26]:
print(nome, Nome)

Luke Skywalker Luke Skywalker

In [27]:
Nome = "luke"
print(nome, Nome)

Luke Skywalker luke

In [28]:
a = 10
b = 5
c = a + b
d = a - b
print(a, b, c, d)

10 5 15 5

In [29]:
i = 0
i += 1
print(i)

1

In [30]:
c = nome + a

TypeError: can only concatenate str (not "int") to str

In [32]:
a = "10"
print(a, type(a))

10 <class 'str'>

In [33]:
b = int(a)  # convertendo uma string em um inteiro
print(b, type(b))

10 <class 'int'>

In [35]:
print(peso, type(peso))

70.5 <class 'float'>

In [36]:
peso_sem_decimal = int(peso)
print(peso_sem_decimal, type(peso_sem_decimal))

70 <class 'int'>

### A função print()
A função _print()_ imprime uma string na tela/console. <br/>
Uma string pode ser definida com **aspas simples ''** ou **aspas duplas ""**.

Por convenção, a comunidade usa **aspas simples ''**

In [37]:
print('Imprimindo com aspas simples')
print("Imprimindo com aspas duplas!")

Imprimindo com aspas simples
Imprimindo com aspas duplas!

<br/>Para imprimir valores de _variáveis_ junto com uma _string/texto_, utilize a letra **_f_** antes das primeiras aspas, e coloque a variável entre **_{}_** (Python 3.6+):

In [39]:
print(f'Meu nome eh {nome}')
print(f'Tenho {idade} anos')
print(f'Peso {peso} kg')
print('')  # print sempre pula uma linha por padrãp

print(f'Meu nome eh {nome}\nTenho {idade} anos\nPeso {peso} kg')

Meu nome eh Luke Skywalker
Tenho 16 anos
Peso 70.5 kg

Meu nome eh Luke Skywalker
Tenho 16 anos
Peso 70.5 kg

<br/>
Alternativa, temos outras formas de impressão vindas de versões mais antigas do Python, porém ainda válidas:

In [42]:
print('Meu nome eh %s' % nome)
print('Tenho %d anos' % idade)
print('Peso %.2f kg' % peso)
print('')  # print sempre pula uma linha por padrãp

print('Meu nome eh %s\nTenho %d anos\nPeso %.2f kg' % (nome, idade, peso))

Meu nome eh Luke Skywalker
Tenho 16 anos
Peso 70.50 kg

Meu nome eh Luke Skywalker
Tenho 16 anos
Peso 70.50 kg

In [45]:
print('Meu nome eh {0}'.format(nome))
print('Tenho {0} anos'.format(idade))
print('Peso {0:.2f} kg'.format(peso))
print('')  # print sempre pula uma linha por padrãp

print('Meu nome eh {0}\nTenho {1} anos\nPeso {2:.2f} kg'.format(nome, idade, peso))

Meu nome eh Luke Skywalker
Tenho 16 anos
Peso 70.50 kg

Meu nome eh Luke Skywalker
Tenho 16 anos
Peso 70.50 kg

In [46]:
'Oi, ' + 'eu sou o Goku!'

'Oi, eu sou o Goku!'